*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, pink, rgb(252, 177, 189), rgb(250, 211, 218));
}

#forms{
    padding:20px;
    border-radius: 10px;
    border-color: palevioletred;
    width: 400px;
    position: center;
}

#forms legend{
    font-size:25px;
    color:rgb(253, 0, 190);
}

#forms button{
    background-color: rgb(252, 177, 190);
    width:100px;
    height:40px;
    color:white;
}